<html>
<head>
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
    
</head>
<style>
    body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      color: white;
    }
    #scriptContent {
        width: 80%;
        height: 80%;
    }
    #scriptContentC {
        padding: 20px;
    }
    #controlBar button {
        cursor: pointer;
    }
    #scriptNameC {
        padding: 20px;
    }
    #scriptName, #scriptCategory {
        width: 300px;
    }
    #scriptDescription {
        width: 500px;
    }
    #controlBar {
        padding: 5px;
        padding-left: 20px;
    }
    body {
        background-color: #036;
    }
    
</style>
<body onload="doOnLoad();">
<div id="scriptTaskScriptEdit">
  <div id="scriptNameC">
    Script Name: <input type="text" value="" id="scriptName"/>
    &nbsp;&nbsp;Category: <select id="scriptCategory">
      <option value="">-- None --</option>
      <option value="V1">V1</option>
      <option value="V2">V2</option>
      <option value="Aura">Aura</option>
      <option value="KNX">KNX</option>
      <option value="Maintenance">Maintenance</option>
      <option value="Diagnostics">Diagnostics</option>
      <option value="Patching">Patching</option>
    </select>
    <br/>Description: <input type="text" value="" id="scriptDescription" placeholder="One-line summary of what this script does"/>
  </div>
  <div id="controlBar">
    <button onclick="goSave();">Save</button>
    <button onclick="goClose();">Close</button>
  </div>
  <div id="scriptContentC">
      <textarea id="scriptContent"></textarea>
  </div>
</div>
</body>
<script type="text/javascript">
var scriptData = {{{scriptData}}};

function doOnLoad() {
    Q('scriptContent').value = scriptData.content;
    Q('scriptName').value = scriptData.name;
    Q('scriptDescription').value = scriptData.description || '';
    if (scriptData.category) {
        Q('scriptCategory').value = scriptData.category;
    }
}

function goSave() {
    scriptData.content = Q('scriptContent').value;
    scriptData.name = Q('scriptName').value;
    scriptData.description = Q('scriptDescription').value;
    scriptData.category = Q('scriptCategory').value;
    window.opener.callback(scriptData);
}

function goClose() {
    window.close();
}
  
</script>
</html>